.container{
	width:900px;
	margin: 0 auto;
	overflow: auto;
}
.header{
	background: #999;
	color: white;
	height: 90px;
}
#nav{
	height: 30px;
}
#nav ul{
	list-style: none;
	height: 30px;
	padding: 0px;
	margin: 0px;
}
#nav ul li{
	background: black;
	color: white;
	list-style: none;
	display: inline-block;
	float: left;
	padding: 5px 15px;
}
#nav ul li a{
	color: white;
}
#main{
	overflow: auto;
}
#main_left{
	float: left;
	width: 600px;
}
#main_right{
	float: left;
	width: 300px;
}
#footer{
	height: 40px;
}