body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
	border-left: solid #09090A; 
	border-left-width: 20px;
	border-right: solid #09090A;
	border-right-width: 20px;
}

header {
	height: 220px;
	background-image: url("../images/Header.jpg");
	background-color: #09090A;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	padding: 15px 15px 0 15px;
}

header h1 {
	font-size: 250%;
	vertical-align: -180px;
	margin: 0;
	display: inline;
}

nav ul {
	position: absolute;
	right: 20px;
	top: 190px;
	margin: 0;
	padding-top: 0 0 0 10px;
	display: inline;
	font-family: "Courier New", Courier, monospace;
	font-size: 125%
}

nav ul li {
	background: #09090A;
	color: white;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

nav ul li a {
	color: white;
}

img {
   padding:1px;
   border:1px solid #021a40;
   background-color:#ff0;
}

.row {
	text-align: center;
	margin: 20px;
}

.pink {
	color: #EE0061;
}

.row p {
	font-family: "monospace" monospace;
	margin: 10px
	border: 1px black;
}

.col {
	font-weight: bold;
	background: #09090A;
	color: white;
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}

.paragraph {
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

footer {
	padding: 40px;
	margin: 40px 0 0 0;
	border-top: solid #09090A;
	clear: both;
}

/** Tablet view **/
@media screen and (max-width: 960px){
  h1 {
    font-size: 1.1em;
    line-height: 40px;
  }
  header nav li{
    line-height: 40px;
  }
}
/** Mobile view **/
@media screen and (max-width: 480px){
  h1{
    padding: 20px;
    line-height: 40px;
  }
  h1 span{
      display: none;
  }
  header nav{
    margin-left: 5px;
  }
}