body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
}

header {
	height: 220px;
	background-image: url("../images/header.jpg");
	background-color: #09090A;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100%;
	color: white;
	padding: 15px 15px 0 15px;
}

header h1 {
	font-size: 250%;
	vertical-align: -180px;
	margin: 0;
	display: inline;
}
nav ul {
	position: absolute;
	right: 20px;
	top: 190px;
	margin: 0;
	padding-top: 0 0 0 10px;
	display: inline;
	font-family: "Courier New", Courier, monospace;
	font-size: 125%
}

nav ul li {
	background: #09090A;
	color: white;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	list-style-type: none;
	padding: 5px 10px;
}

nav ul li a {
	color: white;
}

.row {
	text-align: center;
	margin: 20px;
}

.pink {
	color: #EE0061;
}

.row p {
	font-family: "monospace" monospace;
	border: 1px black;
}

.col {
	font-weight: bold;
	background: #09090A;
	color: white;
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.paragraph {
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

footer {
	padding: 40px;
	margin: 40px 0 0 0;
	border-top: solid #09090A;
	clear: both;
}