body {
	background-color: gray;
	overflow: scroll;
}
header {
	background-color: #FFFFFF;
	height: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
#blargh {
	color: #006600;
	font-weight: bold;
}