body {
	margin: 0;
	font-family: "Courier New", Courier, monospace;
}
header {
	height: 350px;
	width: 100%;
	color: white;
    /* make background img maintain aspect ratio, from http://kimili.com/journal/the-flexible-scalable-background-image-redux */ 
	background-image: url("../images/Header.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
 
    margin-top: -40px;
 
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    /* end code from http://kimili.com/journal/the-flexible-scalable-background-image-redux */ 
}

header h1 {
	font-size: 200%;
	vertical-align: -50px;
	margin: 0;
	display: inline;
}
nav ul {
	vertical-align: -45px;
	margin: 0;
	padding-top: 0 0 0 15px;
	display: inline;
	font-family: "Courier New", Courier, monospace;
}

nav ul li {
	background: black;
	color: white;
	font-weight: bold;
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
}

nav ul li a {
	color: white;
}

#image {

}
.row {
	text-align: center;
	margin: 20px;
}

.row p {
	font-family: "monospace" monospace;
	border: 1px #333;
}

.col {
	font-weight: bold;
	background: #333;
	color: white;
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}

.paragraph {
	padding: 10px .5%;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

footer {
	padding: 40px;
	margin: 40px 0 0 0;
	border-top: solid #333;
	clear: both;
}